<div>
  <div class="displayTextTitle"><em>Stanzr</em><div>
  <div class="displayText">Real-Time Social Media Group</div>
  <div class="displayText">Chats for B2B Marketing</div>
</div>
<div class="userChoice">
  <div>
    <a href="/register" class="pretty_button_lge">Start a conversation!</a>
  </div>
</div>
