<div class="legendText">Welcome <%= current_user.email %></div>
<div id="postsarea">
  <ul id='chats'>
    <li class='template'><div class='chat round'><div class='item_img'>default image</div><div class='item_msg'>default message</div></div></li>
  </ul>
</div>
<div class="post_input"><textarea cols="50" rows="4" ></textarea></div>
<input type='button' id='addChat' value='Send' />
