<div class="textTitle">Company list</div>
<div class="blindlink"><%= link_to "Add company", new_company_path %></div>
<%
for company in @allCompanies do
%>
  <div class="blindlink"><%= link_to company.name, company %></div>
<%
end
%>