<div id="header">
  <div id="headLogo"><a href="http://blog.stanzr.com/" class="blindlink"><em>powered by</em> Stanzr</a></div>
<%
  # Don't show our general login links on the landing page
  unless (request.fullpath == '/' or request.fullpath == '/login')
%>
  <ul id="topnav">
    <li class="navgroup-left">
      <a id="head_linkedin" class="first sprite-linkedin16" href="/api/user/oauth/linkedin/login/aoschadlin"></a>
    </li>
    <li class="navgroup-left">
      <a id="head_twitter" class="sprite-twitter16" href="/api/user/oauth/twitter/login/aoschadlin"></a>
    </li>
    <li class="navgroup-left">
      <a id="head_facebook" class="sprite-facebook16" href="/api/user/oauth/facebook/login/aoschadlin"></a>
    </li>
    <li class="navgroup-left"><%= link_to "Sign in", login_path %></li>
  </ul>
<%
  end
%>
</div>