<div id="header">
  <div id="headLogo"><em>powered by</em> Stanzr</div>
<%
  if false
%>
  <ul id="topnav">
    <li class="navgroup-left">
      <a id="head_linkedin" class="first sprite-linkedin16" href="/api/user/oauth/linkedin/login/aoschadlin"></a>
    </li>
    <li class="navgroup-left">
      <a id="head_twitter" class="sprite-twitter16" href="/api/user/oauth/twitter/login/aoschadlin"></a>
    </li>
    <li class="navgroup-left">
      <a id="head_facebook" class="sprite-facebook16" href="/api/user/oauth/facebook/login/aoschadlin"></a>
    </li>
    <li class="navgroup-left">
      <a id="head_signup" class="last">Sign up</a>
    </li>
    <li class="navgroup-alone">
    </li>
  </ul>
<%
  end
%>
</div>